In [11]:
import pandas as pd

df_state = pd.read_csv("../Multiple Cause of Death, 1999-2020, by state and gender.txt", sep="\t")
df_age = pd.read_csv("../Multiple Cause of Death, 1999-2020, by age.txt", sep="\t")

In [12]:
df_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Notes                         84 non-null     object
 1   Multiple Cause of death       602 non-null    object
 2   Multiple Cause of death Code  602 non-null    object
 3   State                         602 non-null    object
 4   State Code                    602 non-null    float64
 5   Ten-Year Age Groups           602 non-null    object
 6   Ten-Year Age Groups Code      602 non-null    object
 7   Gender                        602 non-null    object
 8   Gender Code                   602 non-null    object
 9   Deaths                        602 non-null    float64
 10  Population                    602 non-null    float64
 11  Crude Rate                    602 non-null    object
dtypes: float64(3), object(9)
memory usage: 64.4+ KB

In [13]:
df_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9121 entries, 0 to 9120
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Notes                         82 non-null     object
 1   Multiple Cause of death       9039 non-null   object
 2   Multiple Cause of death Code  9039 non-null   object
 3   Year                          9039 non-null   float64
 4   Year Code                     9039 non-null   float64
 5   State                         9039 non-null   object
 6   State Code                    9039 non-null   float64
 7   Gender                        9039 non-null   object
 8   Gender Code                   9039 non-null   object
 9   Deaths                        9039 non-null   float64
 10  Population                    9039 non-null   float64
 11  Crude Rate                    9039 non-null   object
dtypes: float64(5), object(7)
memory usage: 855.2+ KB