In [1]:
import pandas as pd

df_state = pd.read_csv("Multiple Cause of Death, 1999-2020, by state.txt", sep="\t")
df_age = pd.read_csv("Multiple Cause of Death, 1999-2020, by age.txt", sep="\t")

In [2]:
df_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11372 entries, 0 to 11371
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Notes                         84 non-null     object
 1   Multiple Cause of death       11288 non-null  object
 2   Multiple Cause of death Code  11288 non-null  object
 3   Year                          11288 non-null  float64
 4   Year Code                     11288 non-null  float64
 5   State                         11288 non-null  object
 6   State Code                    11288 non-null  float64
 7   Gender                        11288 non-null  object
 8   Gender Code                   11288 non-null  object
 9   Race                          11288 non-null  object
 10  Race Code                     11288 non-null  object
 11  Deaths                        11288 non-null  float64
 12  Population                    11288 non-null  float64
 13  Crude Rate                    11288 non-null  object
dtypes: float64(5), object(9)
memory usage: 1.2+ MB

In [3]:
df_state.drop(columns=['Notes'], inplace=True)

In [4]:
df_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11372 entries, 0 to 11371
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Multiple Cause of death       11288 non-null  object
 1   Multiple Cause of death Code  11288 non-null  object
 2   Year                          11288 non-null  float64
 3   Year Code                     11288 non-null  float64
 4   State                         11288 non-null  object
 5   State Code                    11288 non-null  float64
 6   Gender                        11288 non-null  object
 7   Gender Code                   11288 non-null  object
 8   Race                          11288 non-null  object
 9   Race Code                     11288 non-null  object
 10  Deaths                        11288 non-null  float64
 11  Population                    11288 non-null  float64
 12  Crude Rate                    11288 non-null  object
dtypes: float64(5), object(8)
memory usage: 1.1+ MB

In [5]:
df_age.drop(columns=['Notes'], inplace=True)

In [6]:
df_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15897 entries, 0 to 15896
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Multiple Cause of death       15815 non-null  object
 1   Multiple Cause of death Code  15815 non-null  object
 2   Year                          15815 non-null  float64
 3   Year Code                     15815 non-null  float64
 4   State                         15815 non-null  object
 5   State Code                    15815 non-null  float64
 6   Ten-Year Age Groups           15815 non-null  object
 7   Ten-Year Age Groups Code      15815 non-null  object
 8   Deaths                        15815 non-null  float64
 9   Population                    15815 non-null  float64
 10  Crude Rate                    15815 non-null  object
dtypes: float64(5), object(6)
memory usage: 1.3+ MB